dist
*.hi
Makefile
config.log
config.status
docs
*.o
*.lo
libmpfr.la
.libs
.deps
libtool
.DS_Store
/deps/mpfr-*/src/mparam.h
deps/mpfr-3.1.2/autom4te.cache/
cabal.sandbox.config
.cabal-sandbox
dist-newstyle
